<!DOCTYPE html>
<html>
  <head>
    <title>Traveller Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "traveller", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <a href="/" class="navbar-brand">
        <span>Traveller</span> Manager
      </a>
      <ul class="navbar-links">
        <li><a href="/">Hub</a></li>
        <li><%= link_to "My Ships", ships_builder_index_path %></li>
        <li><%= link_to "New Ship", new_ships_builder_path %></li>
      </ul>
    </nav>

    <% if notice.present? %>
      <div class="flash notice"><%= notice %></div>
    <% end %>
    <% if alert.present? %>
      <div class="flash alert"><%= alert %></div>
    <% end %>

    <%= yield %>
  </body>
</html>